if TARGET_AMX6

config SYS_BOARD
	default "amx6"

config SYS_VENDOR
	default "kontron"

config SYS_CONFIG_NAME
	default "amx6"

menu "Kontron Extensions"

config KEX_IMX_WATCHDOG
	bool "IMX watchdog support"

endmenu

source "board/kontron/common/Kconfig"

endif
