// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Kontron Europe GmbH
 *
 */

/dts-v1/;


#include "imx6q.dtsi"
#include "imx6qdl-smx6.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Kontron SMARC sAMX6i Quad/Dual";
	compatible = "kontron,imx6q-samx6i", "fsl,imx6q";

	chosen {
		stdout-path = &uart1;
	};

	aliases {
		spi0 = &ecspi4;
		mmc0 = &usdhc4;
		mmc1 = &usdhc3;
	};

	soc {
		u-boot,dm-spl;
		aips-bus@2000000 {
			u-boot,dm-spl;
			compatible = "fsl,aips-bus", "simple-bus";
			spba-bus@2000000 {
				u-boot,dm-spl;
				compatible = "fsl,spba-bus", "simple-bus";
			};

			gpio@20a4000 {
				u-boot,dm-spl;
				compatible = "fsl,imx6q-gpio", "fsl,imx35-gpio";
			};
		};
	};

	wdt-reboot {
		u-boot,dm-spl;
		compatible = "wdt-reboot";
		wdt = <&wdog1>;
	};

	backlight_lvds: backlight-lvds {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
		status = "okay";
	};

	panel {
		compatible = "simple-panel";
		backlight = <&backlight_lvds>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds0_out>;
			};
		};
	};
};


/* SPI0 */
&ecspi4 {
	u-boot,dm-spl;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4>;
	fsl,spi-num-chipselects = <3>;
	cs-gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>, /* ECSPI4_SS2 */
		   <&gpio3 29 GPIO_ACTIVE_HIGH>, /* ECSPI4_SS0 */
		   <&gpio3 25 GPIO_ACTIVE_HIGH>; /* ECSPI4_SS3 */
	status = "okay";
#if 0
	/* default boot source: workaround #1 for errata ERR006282 */
	flash: spi-flash@0 {
		u-boot,dm-spl;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
#endif
};


/* I2C mapping:
 * - IMX i2c3 is not available for SMX6_PTP case
 */
&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	smarc_eeprom: eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
		pagesize = <32>;
	};
};

/* GBE */
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&gpio1 25 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>;
	phy-reset-post-delay = <1>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
	};
};


/* SDIO */
&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	cd-gpios = <&gpio6 14 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio1 26 GPIO_ACTIVE_HIGH>;
	bus-width = <4>;
	vmmc-supply = <&carrier_sdio_reg>;
	no-1-8-v;

	status = "okay";
};

/* SDMMC */
&usdhc4 {
	/* Internal eMMC */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	vmmc-supply = <&reg_3p3v_s0>;
	/* vqmmc-supply = <&reg_1p8v_s0>; */

	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_5p0v_s0>;
	status = "okay";
};

&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	dr_mode = "host";
	status = "okay";
};

&snvs_poweroff {
	status = "okay";
};


&ipu1 {
	use-ipu-clock;
};

&wdog1 {
	u-boot,dm-spl;
	/* CPLD is feeded by watchdog (hardwired) */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog1>;
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@1 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";

		port@4 {
			reg = <4>;

			lvds0_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};
